<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Spring Boot With Thymeleaf</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
 
 	<link href="../static/css/style1.css" th:href="@{css/style1.css}" rel="stylesheet" media="screen"/>
    
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <img src="../static/images/backgroundEarth.jpg" width="1000"
             th:src="@{images/backgroundEarth.jpg}"/>
		<h1>Hello</h1>
 
		<h2>Powered by Spring Boot With Thymeleaf!!!</h2>
  	</div>
</div>
 
</body>
</html>